@import "tailwindcss";
@config "./tailwind.config.js";

:host {
    position: fixed;
    inset: 0;
    z-index: 999999;
    font-family: "M PLUS Rounded 1c", "ヒラギノ角ゴ Pro W3", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
    color: #1e3b75;

    /** Shadow DOM fixes for TW v4 */

    --tw-divide-y-reverse: 0;
    --tw-border-style: solid;
    --tw-font-weight: initial;
    --tw-tracking: initial;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-translate-z: 0;
    --tw-rotate-x: rotateX(0);
    --tw-rotate-y: rotateY(0);
    --tw-rotate-z: rotateZ(0);
    --tw-skew-x: skewX(0);
    --tw-skew-y: skewY(0);
    --tw-space-x-reverse: 0;
    --tw-gradient-position: initial;
    --tw-gradient-from: #0000;
    --tw-gradient-via: #0000;
    --tw-gradient-to: #0000;
    --tw-gradient-stops: initial;
    --tw-gradient-via-stops: initial;
    --tw-gradient-from-position: 0%;
    --tw-gradient-via-position: 50%;
    --tw-gradient-to-position: 100%;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-color: initial;
    --tw-inset-shadow: 0 0 #0000;
    --tw-inset-shadow-color: initial;
    --tw-ring-color: initial;
    --tw-ring-shadow: 0 0 #0000;
    --tw-inset-ring-color: initial;
    --tw-inset-ring-shadow: 0 0 #0000;
    --tw-ring-inset: initial;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-blur: initial;
    --tw-brightness: initial;
    --tw-contrast: initial;
    --tw-grayscale: initial;
    --tw-hue-rotate: initial;
    --tw-invert: initial;
    --tw-opacity: initial;
    --tw-saturate: initial;
    --tw-sepia: initial;
    --tw-drop-shadow: initial;
    --tw-duration: initial;
    --tw-ease: initial;
}

#backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(21, 66, 165, 0.35);
    backdrop-filter: blur(1px);
}

#modal {
    width: min(420px, 92vw);
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#modal * {
    box-sizing: border-box;
}

#song-list::-webkit-scrollbar {
    width: 8px;
}

#song-list::-webkit-scrollbar-thumb {
    background: #8ec5ff;
    border-radius: 8px;
}

.lavender-gradient-bg {
    background: linear-gradient(to bottom, #fdfcff, #d9eeff);
}

.lavender-gradient-btn {
    background: linear-gradient(to bottom right, #f85da8, #f2a549);
}